.main-container {
	display: flex;
	flex-direction: column;
	font-family: monospace; 
}

.nav-container {
	font-size: 16px;
}

.nav-list{
	display: flex;
	gap: 16px;
	padding: 0px 256px 32px 256px;
	flex-direction: row;
	font-weight: bold;
}

.active{
	text-decoration: underline;
}

a {
	text-decoration: none;
	color: black;
}

#home {
	display: flex;
	margin: 0px 256px 0px 256px;
	flex-direction: column;
}

.content:target ~ #home{
	display: none;
}

.content {
	display: none;
}

.content:target{
	display: flex;
}

.home-container {
	display:flex;
	margin: 0px 256px 0px 256px;
	flex-direction: column;
}

.project-container {
	margin: 0px 256px 0px 256px;
	flex-direction: column;
	justify-content: start;
}

.project-heading {
	font-size: 2rem;
	margin: 0px;
	text-decoration: underline;
}

.heading-container {
	display: flex;
	flex-direction: column;
}

.project-title-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
	font-size: 1.2rem;
	margin-bottom:8px;
}

.heading {
	font-size: 3.75rem; 
	margin: 0px;
}

p.handle {
	color: rgb(148 163 184);
	margin: 0px;
}

.description{
	font-size: 1rem;
	margin:0px;
}

.project-description{
	font-size: 1rem;
	margin:0px;
}

.logo-container {
	display: flex;
	margin-top: 16px;
	gap: 16px;
}

.logo {
	width: 24px;
	height: 24px;
}
.project-title-section .logo {
	width: 24px;
	height: 24px;
}

@media (max-width: 319px){

	.main-container {
		display: flex;
		flex-direction: column;
		font-family: monospace; 
	}

	.home-container {
		display:flex;
		margin: 0px 32px 0px 32px;
		flex-direction: column;
		justify-content: center;
	}

	.description{
		margin:0px;
		font-size: 1rem;

	}

	.project-container {
		height: auto;
		margin: 0px 32px 0px 32px;
		flex-direction: column;
		justify-content: start;
	}

	.nav-container {
		font-size: 18px;
	}

	.nav-list{
		display: flex;
		gap: 16px;
		padding: 0px 32px 32px 32px;
		flex-direction: row;
		font-weight: bold;
	}

	#home {
		display: flex;
		gap:1px;
		height: auto;
		margin: 0px 32px 0px 32px;
		flex-direction: column;
		justify-content: center;
	}

}

@media (min-width: 320px) and (max-width: 766px){

	.main-container {
		display: flex;
		flex-direction: column;
		font-family: monospace; 
	}

	.home-container {
		display:flex;
		margin: 0px 32px 0px 32px;
		flex-direction: column;
		justify-content: center;
	}

	.description{
		margin:0px;
		font-size: 1rem; 

	}

	.project-container {
		height: auto;
		margin: 0px 32px 0px 32px;
		flex-direction: column;
		justify-content: start;
	}

	.nav-container {
		font-size: 18px;
	}

	.nav-list{
		display: flex;
		gap: 16px;
		font-weight: bold;
		flex-direction: row;
		padding: 0px 32px 32px 32px;
	}

	#home {
		display: flex;
		gap:1px;
		height: auto;
		margin: 0px 32px 0px 32px;
		flex-direction: column;
		justify-content: center;
	}

}

@media (min-width: 768px) and (max-width: 1023px){
	.main-container {
		display: flex;
		flex-direction: column;
		font-family: monospace; 
	}

	.home-container {
		display:flex;
		height: auto;
		margin: 0px 64px 0px 64px;
		flex-direction: column;
		justify-content: center;
	}

	.description{
		margin:0px;
		font-size: 1rem; /* 72px */
	}

	.project-container {
		height: auto;
		margin: 0px 32px 0px 32px;
		flex-direction: column;
		justify-content: start;
	}

	.nav-container {
		font-size: 18px;
	}

	.nav-list{
		display: flex;
		gap: 16px;
		flex-direction: row;
		font-weight: bold;
		padding: 0px 32px 32px 32px;
	}

	#home {
		display: flex;
		height: auto;
		margin: 0px 32px 0px 32px;
		flex-direction: column;
		justify-content: center;
	}

}

@media (min-width: 1024px) and (max-width: 1280px){
.main-container {
		display: flex;
		flex-direction: column;
		font-family: monospace; 
	}
	.home-container {
		display:flex;
		height: auto;
		margin: 0px 128px 0px 128px;
		flex-direction: column;
		justify-content: center;
	}

	.heading{
		font-size: 5rem; 
	}


	.project-container {
		height: auto;
		margin: 0px 32px 0px 32px;
		flex-direction: column;
		justify-content: start;
	}

	.nav-container {
		font-size: 18px;
	}

	.nav-list{
		display: flex;
		gap: 16px;
		flex-direction: row;
		padding: 0px 32px 32px 32px;
		font-weight: bold;
	}

	#home {
		display: flex;
		height: auto;
		margin: 0px 32px 0px 32px;
		flex-direction: column;
		justify-content: center;
	}

	.description{
		margin:0px;
		font-size: 1rem; /* 72px */
	}
}

nav ul {
	list-style-type: none;
}
