.heading {
  font-size: 24pt;
  margin-bottom: 0px;
}

.container {
  display: flex;
  gap: 62px;
}

.details {
  flex: 2;
}

.cv_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.cv_box {
  /* width: 200px;
  height: 300px;
  background-image: url("../public/images/Resume_thumbnail.jpg");
  background-size: contain; */
}

.resumeButton {
  background-color: #111827;
  padding: 12px;
  color: white;
  font-size: 16px;
  border-radius: 25px;
  border-width: 0px;
}
