.heading {
  font-size: 24pt;
  margin-bottom: 0px;
}

.container {
  display: flex;
  gap: 62px;
}

.details {
  flex: 2;
  /* background-color: green; */
}

.cv_container {
  flex: 1;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.cv_box {
  width: 200px;
  height: 300px;
  background-color: rgb(91, 155, 197);
  border-radius: 5px;
}
