.container {
  display: flex;
  gap: 32px;
  align-items: stretch;
}

.imgStyle {
  flex: 1;
  /* background-color: white; */
  border-radius: 8px;
}

.detailContainer {
  flex: 1;
}

.dateStyle {
  color: rgb(147, 142, 142);
  font-size: small;
  margin: 0px;
}

.detailStyle {
}

.titleStyle {
  margin-bottom: 0px;
  margin-top: 0px;
}

.technologyStyle {
  display: flex;
  gap: 16px;
}
